.mainQuest {
    padding-top: 50px;
    padding-left: 20px;
    width: 25%; /* Set width to 25% of the screen */
    /* float: left; */ /* Float left to position it on the left */ 
}

.grey-box {
    background-color: #ccc;
    height: 100px; /* Set height of the box */
    width: 100%; /* Set width to 100% */
    margin-bottom: 20px; /* Add some margin to separate it from other elements */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363636;
    padding: 20px;
    border-radius: 5px;
    width: 65%;
    height: 65%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-family: 'Press Start 2P', sans-serif;
}

.bottom-left {
    display: flex;
}

.bottom-left .dark-rectangle {
    width: 90px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    background-color: #303030; /* Darker color */
    margin: 5px; /* Add margin */
}

.submit-btn {
    width: 200px; 
    height: 30px;
    padding: 5px; 
    box-sizing: border-box;
    background-color: #4f4f4f;
    margin-top: 10px; /* Add margin to separate from textarea */
}

.submit-btn:hover {
    background-color: #2b2b2b;
}

.text-box {
    width: 100%; /* Adjusted width to accommodate draggable boxes */
    height: 100%; /* Adjusted height */
    padding: 5px;
    box-sizing: border-box;
    background-color: #303030;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 11px;
    color: white;
    resize: none; /* Disable textarea resizing */
}

.textareaContainer {
  width: 50%;
  height: 50%;
}

.xp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
  width: 400px; /* Added 'px' unit */
  height: 200px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: -25%;
}

.xpboxHealth {
  width: 90px;
  height: 30px;
  background-color: #58ff56;
  margin: 5px;
  color: white;
  text-align: center;
}

.xpboxKnowledge {
  width: 90px;
  height: 30px;
  background-color: #ff9742;
  margin: 5px;
  color: white;
  text-align: center;
}

.xpboxProspects {
  width: 90px;
  height: 30px;
  background-color: #D4AF37;
  margin: 5px;
  color: white;
  text-align: center;
}

.xpboxCoolness {
  width: 90px;
  height: 30px;
  background-color: #35d4ac;
  margin: 5px;
  color: white;
  text-align: center;
}

.xpboxMentality {
  width: 90px;
  height: 30px;
  background-color: #8d35d4;
  margin: 5px;
  color: white;
  text-align: center;
}

.xpboxSocial {
  width: 90px;
  height: 30px;
  background-color: #d43535;
  margin: 5px;
  color: white;
  text-align: center;
}


.mdl-switch {
    display: flex;
    margin-top: 20px; /* Adjust as needed */
    margin-left: auto; /* Move to the right side */
    margin-right: auto; /* Move to the left side */
    width: fit-content; /* Adjust width as needed */
}

.slider-container {
    display: flex;
}

.clone {
  z-index: 1;
}

.questBox {
  width: 25%;
  height: 100px;
  background-color: #363636;
  margin-top: 10px;
  border-radius: 5px;
}

.pickTimePopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.pickTimePopupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #363636;
  padding: 20px;
  border-radius: 5px;
  width: 65%;
  height: 65%;
}

.create-btn {
    width: 200px; 
    height: 30px;
    padding: 5px; 
    box-sizing: border-box;
    background-color: #4f4f4f;
    margin-top: 10px; /* Add margin to separate from textarea */
}

.div1 {
  overflow-x: overscroll;
}

.timerDisplay {
  position: relative;
  bottom : -76%;
  right: -80%;
  color: white;
}