body {
 background-color: #050f2e;
}
h1 {
  color: black;
}
p {
  color: black;
}


/* Add a black background color to the top navigation */
.navbar {
  background-color: #242e47;
  overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #96237a;
  color: #ffffff;
}

.navbar p {
  float: left;
  color: #f2f2f2;
  padding-left: 16px;
  font-size: 16px;
  
}
.navbar img {
  float: left;
  margin-top: 5px;
  margin-left: 6px;
}

.box {
  border-radius: 15px;
  width: 150px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #96237a;
  padding: 30px 20px;
}

